@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50.1%);
    }
}


@keyframes rainbow {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -500% 0;

    }
}

/*page load https://www.geeksforgeeks.org/how-to-create-fade-in-effect-on-page-load-using-css/     */
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: translateY(-2em);

    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes moveInAnimation {
    0% {
        opacity: 0;
        transform: translateY(2em);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes moveInStartRightAnimation {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInStartTopAnimation {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes moveInHalfStartTopAnimation {
    0% {
        opacity: 0;
        transform: translateY(-50%);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(-100%);

    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInHalfRight {
    0% {
        opacity: 0;
        transform: translateX(-10%);

    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInText {
    0% {
        opacity: 0;
        transform: translateY(-5%);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
